POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=database

DB_HOST=postgres
DB_PORT=5432
DB_SSLMODE=disable

SERVER_PORT=8080
JWT_SECRET=secret

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBIT_VHOST=waterservice
RABBIT_PORT=5672
RABBIT_HOST=rabbitmq

WORKERS_COUNT=10
